# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
playwright-report/
test-results/

# Production
dist/
dist-ssr/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Databases and Zips
*.sqlite
*.sqlite-journal
*.zip

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak

# Nested Git
.git/
!/.git/
